[2016-02-18 21:36] morganestes opened #1 "AYS prompt when trying to upload to Azure"
When uploading an image throught eAzure Media Loader, some users are met with "Are you sure you want to do this?", which is an indicator of a nonce check failing along the way.

[2016-03-01 15:38] #1 closed, assigned to nobody

[2016-08-29 19:58] stevegrunwell opened #8 "Catchable fatal error when new media is uploaded"
When uploading media (a PNG) via wp-admin/media-new.php, I received an HTTP error message in the admin UI.

In my debug.log, I found the following error:

[code]

This dev environment is running WordPress 4.5.3.

[2016-08-29 20:14] stevegrunwell opened #9 "Attempting to use `WP_Error` object as an array"
On WordPress 4.6.0, running the latest version of the feature/azure-plugin-rewrite-v4 branch, I'm getting the following error when trying to upload from wp-admin/media-new.php:

[code]

**Full error_log for the request, including artificial stack-trace added just before the `return` in `Windows_Azure_Helper::get_unique_blob_name()`:**

[code]

[2016-08-29 22:43] #8 closed, assigned to lukaspawlik

[2016-08-30 08:42] #9 closed, assigned to lukaspawlik

[2016-12-22 23:29] allanchristiancarlos opened #13 "Srcset returning local media url instead of azure urls"
Tested on WordPress Version: 4.6.1
Plugin Version: 4.0

Srcset returning local media url instead of azure urls thats why the image fails to load.

![2016-12-23_7-28-04](https://cloud.githubusercontent.com/assets/5856845/21443572/739f64a0-c8e1-11e6-93a2-5b760db8fbdd.png)

[2017-01-03 20:20] Ritesh-patel commented on #13
@allanchristiancarlos

Can you check with WordPress default theme and with other plugins disabled? Also can you check if any active plugin/theme using `wp_calculate_image_srcset` filter in your site?

Regards,
Ritesh

[2017-01-10 19:09] sergey-shandar opened #14 "Azure Storage for Wordpress Plugin in major need of love"
Please, feel free to close the issue. I created it keep track for this one https://github.com/Azure/azure-sdk-for-php/issues/845#issuecomment-271518747

[2017-01-11 20:14] letrape opened #15 "Not uploading images on Post Add Media"
In my wordpress site form the "Desktop" and then navigating to "Media" I can upload files to azure.

But when I am editing a Post and try to upload an Image. The Windows shows a message saying "Uploading to Azure (1/9)"  the image appears broken and the uploaded file to Azure is 0B size and appendblob type.

I am using the develop branch as you suggest in the support forum. Also I've change the pe

[2017-01-30 22:47] ShadowXVII opened #17 "Add option to populate the CacheControl header in uploads"
I'd like to use a higher "max-age" in my CacheControl header for each BLOB.

Can we have a field in the Settings that gets put into the CacheControl property on upload?

[2017-02-07 09:29] Valks opened #18 "Option to scan media library and upload missing images"
It would be nice to have a function which will go through the media library and upload missing files.

Good for already established sites which already have media.

[2017-02-13 22:27] RudyMartin commented on #15
I am seeing mixed results with this plugin. On some setups it works and in test and live environments it does not. TWO QUESTION: 1. Is it possible to limit the file permissions lookup to just the uploads folder? 2. Can the file upload folder be set for this module? Any help on these appreciated.

[2017-02-16 10:45] RehanSaeed commented on #15
This PR seems to fix the issue https://github.com/10up/windows-azure-storage/pull/16 but it's been a month and it's not been looked at.

[2017-02-23 16:56] allan23 commented on #18
Hi @Valks,

This is a great suggestion. We are open to pull requests for functionality that will enhance this plugin.

[2017-02-23 17:09] allan23 commented on #14
Hi @sergey-shandar, the plugin no longer uses the PHP SDK you have referenced. It has been rewritten to utilize the WordPress HTTP API.

[2017-02-23 17:09] #14 closed

[2017-02-23 17:10] allan23 commented on #17
Hi @ShadowXVII,

This is a great suggestion. We are open to pull requests to better enhance the plugin.

[2017-02-23 17:12] allan23 commented on #13
Hi @allanchristiancarlos,

Can you please advise?

[2017-02-23 17:50] allan23 commented on #15
Hi @letrape,

Thank you for bringing this to our attention. Also, thanks to @RudyMartin for how to reproduce.

We are reviewing the PR.

[2017-03-02 17:11] allan23 commented on #15
This issue has been corrected in PR #19. The wp.org plugin repository will be updated shortly.

[2017-03-02 17:11] #15 closed

[2017-03-02 17:12] allan23 commented on #13
One month without feedback. Closing.

[2017-03-02 17:12] #13 closed

[2017-03-02 22:45] RudyMartin commented on #15
Sorry, version 4.0.2 is still not working. I just updated the plugins and still getting this message:
**Windows Azure Storage requires direct filesystem access in order to work.**

The point is that my hosting provider (pantheon) correctly blocks off write access to uploads in the plugin folders. The plugin needs to work for uploads to /wp-content/uploads folder or subfolders in this area. For thi

[2017-03-07 15:35] allan23 commented on #15
@RudyMartin given that your use-case is different, you can utilize the `upload_dir` filter to change the upload paths to something your hosting provider can use. I hesitate offering an option on the settings page because not every hosting provider is the same.

However, if you would like to submit a pull request as an enhancement to the settings page, please feel free to do so.

Thanks.

[2017-03-28 16:49] pereirinha opened #21 "Hardcoded activeEditor"
I've bumped into an issue related with hardcoded `wp.media.editor.activeEditor` on this plugin.

That value is being set at https://github.com/10up/windows-azure-storage/blob/master/js/src/windows-azure-storage-admin.js#L31 and https://github.com/10up/windows-azure-storage/blob/master/js/src/windows-azure-storage-admin.js#L37, but this implementation prevents using different id's for the `wp_edito

[2017-05-19 14:29] samueldjack opened #22 "Undefined index: _wpnonce"
We're using Windows Azure Storage in conjunction with the WPLR Sync plugin, and were getting an error "Underfined index: _wpnonce" originating from this line [here](https://github.com/10up/windows-azure-storage/blob/master/windows-azure-storage.php#L395).

The issue seems to be that the method is expecting the _wpnonce field to be included in the $_POST, but in this case it's not.

Would a suitabl

[2017-05-24 15:22] allan23 commented on #22
Hi @samueldjack,
When you disable the other plugin does the error still persist?

[2017-05-24 16:49] samueldjack commented on #22
I haven't actually tried that, but I do know we only see the error when the
other plugin uploads images. I think it does it via a REST api.

On 24 May 2017 at 16:22, Allan Collins <notifications@github.com> wrote:

--
Samuel Jack
Seaturtle Software Ltd <http://www.seaturtlesoftware.com>
*Skype*: samuel_d_jack

[2017-07-04 13:49] balteravishay opened #24 "Continous integrating using Azure Storage plugin"
When uploading image to storage, the plug-in creates a DB record in wp_postmeta named "windows_azure_storage_info" for each image.

The value of this record contains hard-coded URL reference to the blob storage (in addition to the wp_options settings for Azure Storage blob's URL).

Given this practice, it is unclear how to implement a CI/CD pipeline without having to change database values that fi

[2017-07-05 17:11] allan23 commented on #24
Hi @balteravishay,

What are you using for continuous integration?

Why would you need to change the value wp_postmeta (is this due to unit tests)?

[2017-07-06 09:54] jiji0806 opened #25 "foreign characters file name problems"
Hi, can u or can I figure out line number for the sanitizing filename?
my Korean character image file got some error when I try to upload to blob storage.

I think there might be a lot of people who need to fix this problem.

could you update plugin or u can tell me the line number for that function, so that I can make it allow foreign characters file name works with this awesome plug-in.

thanks

[2017-07-06 15:31] allan23 commented on #25
Hello @jiji0806,

We never recommend directly editing the plugin when you can use filters to accomplish something. Thankfully, this plugin utilizes WordPress core functionality that can be filtered (https://developer.wordpress.org/plugins/hooks/filters/).

Looking at the plugin's codebase, you may be able to resolve your issue with one or more of the following filters:

1. Hook into the `sanitize_

[2017-07-06 15:31] #25 closed

[2017-07-06 16:45] jiji0806 commented on #25
thank you for answering me.

Wordpress itself, allows us to upload image file which contains foreign characters ( at lease Korean characters since I tested).
1.so I think "sanitize_file_name" <-  shouldn't be any problem, I checked Wordpress core function and it was about avoiding special characters.

2. next, I tried find out how to use and hook with "wp_handle_upload".
but it's not certain for m

[2017-07-10 19:15] Keith-Kiraly opened #26 "Does not work with BuddyPress Front-End Editor"
For Example: when viewing a wiki post, the styling is missing and the click doesn't do anything. When looking at the source there is no JS or CSS includes. If I include the CSS the formatting issues are fixed, however the button remains inoperable if the JS files are included. Please see the attached image.

![azurestorage](https://user-images.githubusercontent.com/30055604/28035370-49dafd30-6569-

[2017-07-24 12:58] alanshortis opened #27 "Upload failure"
A new issue has recently appeared - when uploading a new image, I get this error:

`Warning: array_flip() expects parameter 1 to be array, object given in /app/public/mods/mu-plugins/windows-azure-storage/includes/class-windows-azure-rest-api-client.php on line 1166`

While I get a URL for the image from azure, it returns a 404.

[2017-07-26 14:15] jammer99 opened #28 "0 Byte file when 'uploads_use_yearmonth_folders' set to 0 (OFF)"
There is a minor issue when "uploads_use_yearmonth_folders" in wordpress options is set to 0.
This particular use case is when using Wordpress multisite.
On line `445` in `windows-azure-storage.php`
[code]
the value of the 3rd param (`trailingslashit( $file_upload_dir ) . $size['file'],`) is "\myimage-150x150.png" which causes the upload to return false.
This can be replaced with
[code]
to get rid

[2017-07-26 15:13] allan23 commented on #28
Hi @jammer99, that you for submitting this issue.
Are you using the latest version of the plugin and the latest version of WordPress?

[2017-07-26 15:50] jammer99 commented on #28
I am using the latest versions
Wordpress 4.8 and windows azure storage plugin 4.0.2

[2017-07-27 07:21] alanshortis commented on #27
Hello.

Huge apologies for the time wasted on this - after some playing around with the enabling/disabling other plugins, updating everything and entering the credentials for our blob storage it's all working properly again.

The issue started when I changed the account name and key, but I haven't been able to recreate at all.

Just for brevity, I am using v4.0.2 of the plugin in WordPress 4.8 alo

[2017-07-27 07:21] #27 closed

[2017-09-23 10:01] jammer99 commented on #28
Is there no update on this?

[2017-10-07 05:52] kdlarson commented on #28
This is still an issue with Wordpress 4.8.2 and plugin 4.0.2. I am not running Multisite,

[2017-10-12 23:46] kdlarson opened #30 "Srcset not generating correct urls when using CNAME"
Same issue as closed #13 (was closed for non-activity). When using CNAME to Azure CDN (storage origin), the srcset paths are generated with the default WP relative path of "/wp-content/uploads" rather than the cdn path. This happens in the WP default theme.

The browser then tries to fetch the image using the CDN endpoint + incorrect relative path + blob name (e.g. "https://cdn.azureedge.net/wp-co

[2017-10-17 15:29] tott commented on #30
Hi,

we're going to have a look at this issue and will let you know if we need any further feedback from you.

Thanks
         Thorsten

[2017-10-18 12:42] eugene-manuilov commented on #30
Hi @kdlarson,

I have checked it on my local and it works correctly. Could you please tell me what theme do you use and if there any other plugin activated?

[2017-10-18 17:31] kdlarson commented on #30
I created a vanilla WordPress install on Azure with only the Window Azure Storage plugin activated and using the default Twenty Seventeen theme.

In the default configuration, everything works -- both storage and cdn work perfectly.

But when I uncheck the option for WordPress to store media in year/month folder structure (Settings - Media - Organize my uploads into month- and year-based folders),

[2017-10-19 16:41] eugene-manuilov commented on #30
Thanks, @kdlarson! It helped a lot. I have fixed these issues and created a new pre-release (4.0.3). Could you please try it on your setup and let us know if it helps you or not? Thanks in advance!

https://github.com/10up/windows-azure-storage/releases

[2017-10-19 18:30] kdlarson commented on #30
Great job, @eugene-manuilov! In my testing, all features work perfectly. I tested it in both my basic vanilla WP install and also in my heavy and complex "real" site. Thanks very much for fixing this so quickly.

[2017-11-08 13:34] #30 closed

[2017-11-08 13:37] eugene-manuilov commented on #28
Hi @jammer99 and @kdlarson,

recently we release a new version of this plugin which contains a few fixes that may affect and resolve your issue. Could you please install version 4.0.3 on your sites and let me know if you still see your issues?

[2017-11-17 00:08] techietrev opened #38 "Zero Byte Uploads"
When uploading non-image files (sound or video files, 599 KB m4a file for example) to WordPress media library, we find that a few seconds after the file is uploaded it is no longer playable. If we try to play immediately from media library after upload done, it plays fine, but if we revisit file a few seconds later and try to open/play, it no longer plays. In background we find that file gets set

[2017-11-20 10:28] eugene-manuilov commented on #38
Hi @techietrev,

i have tried to replicate it on my end and it works for me. Can you share your audio file with me?

[2017-11-22 07:37] jammer99 commented on #28
This issue seems to be fixed in the latest plugin release. Thanks for fixing this. 💯

[2017-11-22 07:37] #28 closed

[2017-11-22 18:18] techietrev commented on #38
Noticed you have a Ver 4.1.0 update to your plugin.  Updated our test site to see if that remedied issue and then re-uploaded the test file above.  Still same situation.  File plays at first at time of upload, but a few seconds later will not play anymore.  Assume file is getting zero'd out still.

[2017-11-23 12:50] jpaarhuis commented on #38
I'm having a Pull Request for this issue already. Hope it will come through in the next days: https://github.com/10up/windows-azure-storage/pull/23

[2017-11-23 13:34] eugene-manuilov commented on #38
Hm... still can't replicate that... it loads properly on my end even with your file: https://tenuptest.blob.core.windows.net/10up/2017/11/Remembrance-Day-Peace-Song.m4a?_=1

Do other files and file types have the same issue or just this file? Can you try to upload an image, a video and another audio file?

[2017-12-05 20:29] techietrev commented on #38
Question, do you have any documents that would help in re-internalizing our blob data back into WordPress for moving back to on-premise hosting?

[2017-12-19 15:04] twDuke commented on #38
I have the same problem, seems to be that the plugin cant get access to wp filesystem.
The call to WP_Filesystem fails in get_provider, even though i have chmod 777 to the upload path for testing, and chown for whole wp-content to www-data user.

[2017-12-19 20:53] twDuke opened #46 "Zero byte upload when running in a docker container"
I have the zero byte upload problem, seems to be that the plugin cant get access to wp filesystem.
The call to WP_Filesystem fails in Windows_Azure_Filesystem_Access_Provider.get_provider, even though i have chmod 777 to the upload path for testing, and chown for whole wp-content to www-data user.

strange thing is that the file is actually stored in the uploads folder with correct size, owner is

[2017-12-20 08:44] twDuke commented on #46
ok, so the problem was that when checking what type of FS access to get wp compares
owner on __FILE__ constant
/var/www/html/wp-admin/includes/file.php
with a temp file
/var/www/html/wp-content/temp-write-test-1513759002

I hade only set owner to www-data on wp-content, so the compare was a miss causing it to fallback to ftp access. Setting owner in wp-admin as well solved it.

[2017-12-20 08:48] #46 closed

[2017-12-20 14:15] twDuke opened #47 "Migrate existing media."
Hey!

I have an existing wp blog with images located in the uploads folder locally on the server.

I would like to migrate to azure.
* I have full access to WP Db and the codebase
* I have already copied all the images to azure storage

My idea is something like this.

load all posts of type attachment
for each post call "some function" in the azure plugin to mimic what happens on a file upload.

[2017-12-20 16:13] twDuke commented on #47
This works, I take no responsibility for broken databases etc etc. I'm a php noob as well, so code might be so so.

[code]

[2017-12-21 11:12] #47 closed

[2018-01-09 21:27] techietrev commented on #38
Version on this site seems to fix issue for us.  Thanks.

[2018-01-10 11:40] eugene-manuilov commented on #38
Ok, great! Thanks for the confirmation.

[2018-01-10 11:40] #38 closed

[2018-01-22 12:20] eugene-manuilov commented on #17
Hey @ShadowXVII!

It has been added and published with version 4.1.0. Thanks for the suggestion! I am going to close this issue now. Feel free to open a new one if you have anything else.

[2018-01-22 15:03] eugene-manuilov commented on #21
Hi @pereirinha!

I have submitted a fix for this issue. Can you try it on your end to make sure it works properly? There is **fix/multiple-editors** branch where you can check that. Thanks in advance.

[2018-01-22 23:35] ShadowXVII commented on #17
Thanks for the update -- noticed it a few weeks ago.

Despite setting it in the options, new BLOBs don't seem to have the header set?
If I check via Storage Explorer at a recently uploaded image, it has an empty CacheControl attribute.

e.g. I'd expect it to read "public, max-age=7776000"

[2018-01-22 23:37] eugene-manuilov commented on #17
Hm.... i'll need to look at it tomorrow.

[2018-01-23 11:17] eugene-manuilov commented on #17
Ok, my fault... There is a bug in it... I have fixed it and added the ability to filter cache-control header for each blob as well as enter an arbitrary cache-control value into the settings. Will include it in the next release.

[2018-01-24 04:23] ShadowXVII opened #52 "Thumbnails/resized images aren't generating"
Normally during an upload, the larger image is scaled and uploaded alongside the original.

This was fine as of December;
![image](https://user-images.githubusercontent.com/446329/35313978-59bc3d6e-0117-11e8-8121-e21871548e0f.png)

As of January, it's only uploading the original. Considering there hasn't been a major release since November -- not sure what the cause is! Thought I don't think I upd

[2018-01-24 05:07] ShadowXVII commented on #52
Oops! My fault. I tried 4.0.3 and it still didn't work -- turns out php-gd wasn't installed on the new server ;)

[2018-01-24 05:07] #52 closed

[2018-02-13 18:43] nprasath002 opened #55 "Browse from azure storage needs style adjustments"
Please see the attached screenshot

<img width="744" alt="screen shot 2018-02-14 at 12 13 16 am" src="https://user-images.githubusercontent.com/581008/36167444-e7f51aa6-111b-11e8-87d7-1e693a5d81d7.png">

[2018-02-13 18:46] nprasath002 opened #56 "Browse azure storage does display media files"
Browse azure storage does display media files. But you try to search something and clear the search media files are displayed. If you refresh the page and click `Add media from azure storage` it again displays no files

[2018-02-15 17:37] Masamasamasashito commented on #56
Maybe , The json acquisition of this file fails .
https://github.com/10up/windows-azure-storage/blob/master/js/windows-azure-storage-media-browser.js

[2018-02-28 18:49] lmmartinm commented on #38
Hello

I can confirm the bug. It occurs using "/wp-admin/upload.php" URL, but if instead you use "/wp-admin/media-new.php" URL for uploading no images media, seems to work.

@techietrev which version woks for you?

Thank you

[2018-03-06 03:32] nprasath002 commented on #56
https://wordpress.org/support/topic/browse-azure-storage-no-media-found/

[2018-03-07 13:58] nprasath002 commented on #56
I tested different releases and master` on the latest WordPress and all seems to have the problem. I tested `master` on different versions of WordPress on it works on 4.7 and below

[2018-03-09 13:47] alexisbellido commented on #56
I've confirmed with WP 4.9.4 and Microsoft Azure Storage 4.2.0 following these steps:

- Visit a new post/edit post screen.
- Click Add Media From Azure.
- The list is empty.

I've also confirmed that searching makes the files show.

According to my browser's network tab the XHR is taking very long and I do feel like everything gets slower when I'm dealing with the Add Media From Azure screen.

[2018-03-13 14:29] jorenvh opened #57 "Admin ajax infinite loop on action "get-azure-progress""
Hi

After the async upload call is processed an ajax call is made to check the process of the upload.
This call just keeps firing to infinity, I tested this on my current project and in a plain Wordpress installation, in both installs that call is fired to infinity.

The only difference I'm noticing between my production app and the plain Wordpress install is the response of the call.

My producti

[2018-03-14 07:42] nprasath002 commented on #57
Hi @jorenvh,

I was not able to reproduce both of the issues locally. Here are couple of scenarios i think it could happen
1. Can you make sure your theme in production uses different filenames for all registered image sizes?
2 Can you provide me the data[item_id] that is passed in the admin-ajax call?. -1 only happens if the transient keys are different from frontend and backend that saves upload

[2018-03-14 09:06] jorenvh commented on #57
Hi @nprasath002

1. I can confirm that we are using different filenames for all registered image sizes.

2. data[item_id]:o_1c8hs44mh1qf61a1r1rkl1vbvm3ab

Thanks
Joren

[2018-03-16 22:33] tott commented on #57
Hi @jorenvh ,

I also tried to reproduce the issue. Can you advise if you see this behavior with all kind of file types and sizes or if it may be limited to a specific pattern?

Thanks
      Thorsten

[2018-03-16 22:45] tott commented on #56
Hi @alexisbellido,

this is taking a bit longer than expected but is still on our radar.

I hope to have a solution next week.

[2018-03-20 09:10] jorenvh commented on #57
Hi @tott

I only tested with images, I tested with larger once (+/- 10MB) and smaller once (20BKB). I didn't notice any pattern I'm having it with every image I upload.

Thanks
Joren

[2018-04-04 09:03] jorenvh commented on #57
Hi All

Any update on this?

Thanks
Joren

[2018-04-04 13:49] MourIdri opened #58 "Adding support for Azure CDN"
Hi team,
is that possible to add support for Azure CDN with an azure storage account ?
Storing content ( images/videos) on azure blob is very good but I could also configure CDN with blob storage I will save a lot of time... Loading storage from Blob only is very time consuming and make the ,page loading very long

[2018-04-24 11:46] radeno opened #59 "Unicode file name support"
Hello,

based on this issue opened on WP support forum https://wordpress.org/support/topic/non-encoded-urls/ plugin can't handle properly with paths / filenames / directories with unicode characters.

Tested on slovak characters. Adding php function `urlencode` helps.
I don't open any PR, because I can't say if exists any other code parts, where url encoding is required.

This document https://doc

[2018-04-26 10:19] XVII opened #60 "[Bug] Visual artifact during editing with Elementor"
There's an incompatibility with Elementor and Azure Storage for Wordpress.
The Azure Add Media image from the button overlays the textbox, preventing it from being focused.

![image](https://user-images.githubusercontent.com/446329/39300298-8bc8431a-498e-11e8-8d6e-c074d9c8e38d.png)

The button doesn't function either -- fixing the image width and height to 18px like its sibling (Add Media button)

[2018-05-02 22:16] allan23 commented on #59
This looks like it could be resolved via PR: #61

[2018-05-02 22:18] allan23 commented on #60
@ShadowXVII Thanks for the information.

Have you determined that the Azure plugin works fine without Elementor activated?
Have you contacted the Elementor plugin developers about this issue?

[2018-05-02 22:45] ShadowXVII commented on #60
Yes, the editor screen doesn't exist without the elementor plugin.

No, I haven't contacted them as I'm unsure they wouldn't make adjustments to account for particular plugins (vs plugins themselves providing the compatibility).

Px specific fixes are of course not ideal, but thought you'd have more idea of the best way to implement a fix, plugin side.

[2018-05-23 13:52] tott commented on #56
Hi there, it seems the underlying issue was fixed in one of the recent WordPress versions. I am not able to reproduce the issue in versions 4.9.5 and above.

[2018-05-23 13:53] tott commented on #57
Hi there, it seems the underlying issue was fixed in one of the recent WordPress versions. I am not able to reproduce the issue in versions 4.9.5 and above.

[2018-07-06 02:56] pbalakri commented on #15
Please note that the situation is a prevailing best practice for security of wordpress. It would be great if there is a plugin based workaround for this.

[2018-07-24 17:58] oscarssanchez commented on #55
Opened  PR #63 for this one.

[2018-08-02 04:15] ShadowXVII commented on #60
This is still an issue, I've created a linked issue above so the respective authors can find a resolution: pojome/elementor#5282

[2018-08-30 20:20] #59 closed

[2018-09-10 15:22] zosia1990 commented on #56
Hi I have version of wordpress 4.9.8.. I installed azure storage for wordpress plugin, and files are uploading to Azure storage, but they are not displaying in media - there I have only blank file.
Add Media from Azure button is not working at all. Any clues?

[2018-09-10 19:47] zosia1990 opened #66 "MICROSOFT AZURE STORAGE PLUGIN FOR WORDPRESS"
Hi I have version of wordpress 4.9.8.. I installed azure storage for wordpress plugin, and files are uploading to Azure storage, but they are not displaying in media - there I have only blank file.
Add Media from Azure button is not working at all. Any clues?

[2018-09-20 05:52] ShadowXVII commented on #58
It already does this? Set the CNAME field to your CDN address.

[2018-09-20 16:07] MourIdri commented on #58
@ShadowXVII : With Azure blob storage yes. But if it is also possible to link with Azure CDN it will be even better.

[2018-09-20 21:37] allan23 commented on #66
Hello @zosia1990,

Can you let us know what other plugins you are running on the site?

[2018-09-20 22:32] ShadowXVII commented on #58
I'm not sure what you mean. Azure CDN wraps blob storage. This in turn gives you a CDN name which can be put in the CNAME field.

[2018-09-20 22:38] zosia1990 commented on #66
oh I have a lot: wp-forms, wpbakery page builder, googlemaps, updraftplus, the events calendar, enivra gallery, essential grid, hide youtube related videos, limit logins attempt, manage wp, polylang, smush, visual composer,

[2018-09-21 16:29] MourIdri commented on #58
I requested to have Azure CDN embedded on the wordpress Azure plugin

Le ven. 21 sept. 2018 à 00:32, Jake Edwards <notifications@github.com> a
écrit :

[2018-09-23 03:32] ShadowXVII commented on #58
Without more specific explanation I'm not sure the developer would be able to help... this plugin is already compatible with Azure CDN.

Azure CDN uses a blog storage as the backend.

[2018-09-24 07:00] MourIdri commented on #58
No my Friend,  Azure CDN also uses CDN partners. Azure CDN based on Azure blob is not available everywhere, while CDN of partner is. Then at the time set up my environment Azure CDN based on blob was not available.

[2018-09-24 07:13] ShadowXVII commented on #58
Azure CDN has three flavours, and two partners -- Verizon, Akamai and Microsoft.
Is this what you're referring to by "CDN partners"?

Even when you use Verizon, Akamai, the CDN Profiles all still link back to Blob Storage.
Unless you're referring to Custom Origin? This would be impossible to support and outside the scope of this plugin.

Otherwise, you'll need to provide a link or screenshot as to

[2018-10-05 03:48] oscarssanchez commented on #66
Hi @zosia1990 ,

Could you please try disabling all plugins but microsoft azure storage and see if the problem still persists? This could be a first step to discard another plugin is conflicting with microsoft azure storage.

And have a nice day :)

[2018-11-20 14:07] radeno opened #67 "Release 4.2.0"
Hello,

any chance to publish version 4.2 early ?

In master is very necessary fix for uploading files with unicode naming, not just ASCII.
And version 4.2 brings very handy settings by constants, very nice feature for containerised deployment.

[2018-11-27 22:06] oscarssanchez commented on #67
Hi @radeno ,

Thanks for raising your concern. We definitely have plans to release 4.2 to wp.org soon. We just have to run some QA and update the readme files :)

Thanks again, and hope you have a great day!

[2018-12-20 21:38] fonix232 opened #69 "Allow for fully custom domains and paths"
Microsoft is pushing for the Azure CDN network to replace the custom domain part of Storage accounts - specifically, (custom) SSL is only possible on these domains at the moment.

However Azure CDN also allows for a more in-depth Origin to be set. The custom domain is not just a CNAME to the Storage account URL, it can point to a blob, a folder within the blob, or even a specific file (albeit hack

[2019-02-01 04:31] oscarssanchez commented on #69
Hi @fonix232  and thanks for the suggestion! Pull requests are always welcome if you would like to work on it.

[2019-02-07 13:37] Keomoniroath opened #72 "Srcset returning the wrong url when using crop thumbnail plugin"
Hello,

When I cropped an image the srcset url isn't azure storage url only for WP native image size such as the thumbnail. You can have an exemple at the bottom of the post in the section "Découvrez également" : https://experiences.microsoft.fr/business/new-culture-of-work-business/linnovation-appelle-un-equilibre-entre-ambition-et-humilite-nicolas-marry-avanade/

Once the image is cropped, the s

[2019-02-17 12:13] radeno commented on #67
@oscarssanchez four months ahead. Still no release? :/

[2019-02-20 19:08] uprise10 opened #73 "Work along with Gravity Forms file upload field"
I recently discovered that when working with Gravity Forms upload fields, the files are not uploaded to Azure.

The reason for this is that GF does not trigger this upload procedure (understandable), but they just [move](https://github.com/wp-premium/gravityforms/blob/master/includes/fields/class-gf-field-fileupload.php#L566) the file from their temp dir to the local uploads dir.

Of course it wou

[2019-02-21 20:47] allan23 commented on #67
Hello @radeno, would you be able to run some tests on the `master` branch for the 4.2.0 release?

[2019-02-22 09:24] radeno commented on #67
Hi, @allan23, what king of tests do you mean? I should test it on staging Azure Storage if you want.
Some basic testing scenarios for uploading and removing.

[2019-02-22 16:13] allan23 commented on #67
Yep. That would be great.

[2019-03-07 18:44] oscarssanchez commented on #72
Hi @Keomoniroath , sorry for late reply.

Unfortunately i have not been able to correctly show the cropped image with or without Azure activated/installed, would you mind providing some guidance/steps on how to use this plugin to be able to reproduce this issue?

Also, If for some reason, the crop plugin requires thumbnail regeneration, can you try regenerating the thumbnails via WP CLI ?

Thanks!

[2019-03-07 18:53] oscarssanchez commented on #73
Hi @uprise10 ,

I'm not sure if this would work but maybe using this public static method: `put_uploaded_file_to_blob_storage()`  https://github.com/10up/windows-azure-storage/blob/master/includes/class-windows-azure-helper.php#L404

You would have to provide the parameters of the method, so i think if gravity forms already moved the file to local uploads it may work.

Best regards,

[2019-03-08 12:34] uprise10 commented on #73
Hi, thanks for this. In the meantime we got this working with the following code. This might be useful for other users who run into this problem.

It's a bit hardcoded, but someone who knows what he/she is doing can easily fix that :-)

[code]

[2019-03-18 11:18] Keomoniroath commented on #72
Hello @oscarssanchez, thanks for your reply.

For the crop plugin i just installed it and start to crop image of a post and save it :
![image](https://user-images.githubusercontent.com/29626942/54523557-1d678880-4970-11e9-819c-383ab9eb3960.png)![image](https://user-images.githubusercontent.com/29626942/54523636-3d974780-4970-11e9-93cf-8ae50f0b45c7.png)

But here an exemple when Azure Storage is ac

[2019-03-21 17:34] oscarssanchez commented on #72
Hi @Keomoniroath ,

This is what I'm currently doing:
https://youtu.be/R17wv6FgJWE

Am I doing something wrong here?

[2019-04-01 19:46] jeffpaul commented on #72
@Keomoniroath any feedback from Oscar's response above?

[2019-04-01 19:51] jeffpaul commented on #66
@zosia1990 any updates on testing with just the Microsoft Azure plugin on your site?

[2019-04-03 09:44] radeno commented on #67
@jeffpaul not yet. I wanna today. @allan23 which branch is actual, master or release 4.2.0 ?

[2019-04-15 14:36] zosia1990 opened #76 "Http error when attempting to upload media (Wordpress)"
Hi,

Memory Usage and I/O Usage for my Wordpress based website are constantly being maxed. Memory Usage will typically spike when I upload an image or publish a new post or edit a newly published post, and this causes the website to crash and return a  500 Internal Error. Sometimes I am able to upload a few images. Website is on shared hosting GoDaddy. This is really annoying. I called hosting sup

[2019-04-19 10:18] Keomoniroath commented on #72
Hello @oscarssanchez, sorry for my late answer.

I don't see anything wrong, if you try to display the thumbnail size after crop does it show in front ?
What i'm doing to reproduce the bug : https://youtu.be/RuB3VIquQWk

Do you think it's related to the environment or something else ? I try to desactivate  all the other plugin except crop thumbnail and the issue still here.

Thanks !

[2019-04-25 12:17] radeno commented on #67
Looks like it works!

[2019-05-02 19:59] jeffpaul commented on #76
@zosia1990 can you please confirm if you're seeing an error or specific issue with Windows Azure Storage or just general site issues?  If there's a Windows Azure Storage please clarify and we'll do what we can to help.  If its general site issues, then your host's support forums (in your case that appears to be [GoDaddy Help Center](https://www.godaddy.com/help/)) and then [WordPress.org support f

[2019-05-07 20:36] jeffpaul opened #77 "Image filename includes special characters"
I can't seem to find where https://github.com/10up/windows-azure-storage/blob/master/images/Azure%202017.png is utilized within the codebase or on .org (https://wordpress.org/plugins/windows-azure-storage), but that space in the filename may eventually cause problems if that images gets used somewhere/somehow.  I'd recommend we check to see if its needed and if not then remove from the repo, but i

[2019-05-08 14:22] sujrara commented on #57
We are facing the exact same issue in 4.9.8. Unable to find solution. ajax call is made to check the process of the upload and this call just keeps firing to infinity, there by increasing the CPU of the DB.

Also adding a mere 20mb image shoots DB CPU to 90%.
Below slow query is generated several times only for one image upload.

SELECT cms_posts.ID
FROM cms_posts
WHERE 1=1 AND (((cms_posts.post_t

[2019-05-08 14:41] sujrara opened #78 "Media library – Adding a mere 20mb image shoots DB CPU to 90%"
Ajax call is made to check the process of the upload and this call just keeps firing to infinity, there by increasing the CPU of the DB. Wordpress version 4.9.8.

Also adding a mere 20mb image shoots DB CPU to 90%.
Below slow query is generated several times only for one image upload.

SELECT cms_posts.ID
FROM cms_posts
WHERE 1=1 AND (((cms_posts.post_title LIKE ‘%https://ticketcms.azureedge.net/t

[2019-05-14 15:02] sujrara commented on #78
Pls ignore this.

[2019-05-14 15:02] #78 closed

[2019-05-24 01:27] oscarssanchez commented on #72
Hi @Keomoniroath ,

It does show on front, but without my cropping changes, i think that is not the right behavior?

[2019-06-14 17:05] jeffpaul opened #79 "readme updates"
- [x] add support level section & badge
- [x] add license badge
- [ ] move changelog to its own file

[2019-06-17 19:00] jeffpaul commented on #67
@radeno which branch did you test?

[2019-06-17 19:00] radeno commented on #67
4.2.0

[2019-06-17 19:04] jeffpaul commented on #67
@allan23 any other items before merging that release branch and tagging the 4.2.0 release officially here in GitHub?  https://github.com/10up/windows-azure-storage/tree/release/4.2.0

[2019-06-17 21:25] #79 closed

[2019-06-21 13:45] radeno opened #81 "Overwritten file with same name"
Hello,

I think i have found critical bug with this plugin. Our client uploads a lot of files to WP site which are stored on Azure Storage.

When client uploaded file with same file name within same path then file is overwritten.

For example 2019/06/2.jpg and after some days (in same month) is uploaded another file with same name then original file is overwritten.
Original Wordpress implementatio

[2019-07-02 08:24] radeno commented on #67
Will be released sometimes ?

[2019-07-10 04:47] jeffpaul opened #83 "Docs need updating to ensure uploads get to Azure storage"
Setting up the v4.2.0 version of the plugin throws an `Microsoft Azure Storage requires direct filesystem access in order to work.` error even with permissions appearing to be correct on the wp-content/uploads directory.  Things appear to be configured correctly, but nothing is getting uploaded to Azure storage.

After some triage, it appears that the plugin requires the following defines in wp-co

[2019-07-16 01:12] jeffpaul commented on #67
@oscarssanchez do you have any background on the [4.2.0 release]( https://github.com/10up/windows-azure-storage/tree/release/4.2.0) and whether anything additional is needed before merging the release branch and tagging the 4.2.0 release officially here in GitHub?

[2019-07-16 12:18] fornandakishore commented on #56
Any update on the above ask?

I have the same issue with WordPress 5.2.2, Images are not showing in 'Browse Azure Storage' but those are appearing in MASE.

![image](https://user-images.githubusercontent.com/3191849/61293322-0a1adb80-a7f1-11e9-9010-6f36c7160369.png)

And also another issue: created a custom post type and create form with Editor, 'Add media' is working but 'Add Media from Azure' CS

[2019-07-17 16:54] jeffpaul commented on #66
@zosia1990 any updates on testing with just the Microsoft Azure plugin on your site?

[2019-07-17 16:54] jeffpaul commented on #76
@zosia1990 can you please confirm if you're seeing an error or specific issue with Windows Azure Storage or just general site issues?

[2019-07-24 17:47] eflorea opened #86 "Uploading status doesn't update after upload is finished."
**Describe the bug**

When uploading a file in the Media Library the uploading status is changing but it never goes to 100% and it gets stuck and it shows on all the attachment details window titles (regardless if you are looking at the file you just upload or an older file)

**Steps to Reproduce**

1. Go to Media -> Library: wp-admin/upload.php
2. Click on Add New
3. Choose a file
4. Once the upl

[2019-08-22 21:22] andrewleader commented on #81
Yeah I have the same problem too. 4.2.0 release branch hasn't fixed this.

[2019-09-03 17:58] TheLastCicada opened #88 "Allow settings for Azure to be defined in wp-config.php rather than in database"
When dynamically setting the Azure Storage locations when creating new sites, it is helpful to be able to hard-code these things (like the storage key, storage account name, and container name) in wp-config.php rather than as options in the database.  There are also big security benefits of doing this as an attacker can't get access to a WordPress admin user and change where uploads serve from, wh

[2019-09-11 12:04] radeno commented on #88
@TheLastCicada version 4.2 allows this. But it isn't released yet.

[2019-09-11 12:04] radeno commented on #67
Any news?

[2019-09-12 16:09] jeffpaul opened #89 "Add GitHub Action workflows for deployment"
**Is your enhancement related to a problem? Please describe.**
Let's add the GitHub Action workflows to allow for automated deploys to WordPress.ORG.

**Describe the solution you'd like**
- [ ] Add plugin deploy workflow
- [ ] Add asset deploy workflow
- [ ] Add user/pass secrets to repo settings
- [ ] Add build step

**Designs**
n/a

**Describe alternatives you've considered**
keep deploying manu

[2019-09-22 01:47] jeffpaul commented on #67
@radeno the plan is to focus on the 4.3 release and work to properly tag/release that when its ready.

[2019-10-08 18:48] jeffpaul commented on #67
My current thinking is to merge the [4.2 release branch](https://github.com/10up/windows-azure-storage/tree/release/4.2.0) into `develop` and then `develop` into `master`, resolving conflicts along the way.  Then looking to review and merge open and viable PRs to `develop` and then merge that to `master` as 4.3.  Thoughts?

[2019-10-09 14:12] oscarssanchez commented on #67
Sounds good to me @jeffpaul

[2019-10-11 17:42] #55 closed

[2019-10-11 17:44] jeffpaul commented on #17
@eugene-manuilov did your fix get included in a specific release or is that still pending?

[2019-10-11 17:45] jeffpaul commented on #21
@eugene-manuilov mind opening a PR from your branch that we can look to include in v4.3.0?

[2019-10-25 03:01] johnwatkins0 opened #90 "Ambiguity around crucial element of settings page"
**Is your enhancement related to a problem? Please describe.**

I have low familiarity with this plugin and am attempting to use it for the first time. In getting set up, I come across the following setting:

<img width="1245" alt="Screen Shot 2019-10-24 at 9 50 12 PM" src="https://user-images.githubusercontent.com/9020968/67539634-5a36f300-f6a8-11e9-90a6-962eaaa8661e.png">

Even as a WordPress en

[2019-10-25 20:24] rickalee commented on #90
@johnwatkins0

In my experience, we typically enable 'Use Microsoft Azure Storage when uploading via WordPress' upload tab'. This does take over for all Media uploads including 'Add Media' modals and Media > Add New - media-new.php

If this option is not checked, you can upload to Azure only through 'Add Media from Azure'

[2019-10-25 21:28] johnwatkins0 commented on #90
So then maybe, "Use Microsoft Azure Storage for all media uploads," would be more accurate.

[2019-10-28 17:19] #90 closed

[2019-11-08 12:47] jorenvh opened #92 "EWWW Bulk optimise"
**Describe the bug**
EWWW Bulk optimisation feature allows to re run optimisation on the entire media library. Both plugins have support for each other, I can see that in de code base.
When running bulk optimise the images are not pushed back to Azure. When a new image is uploaded this works as expected.

I'm using the latest version available from wordpress.org https://wordpress.org/plugins/windo

[2019-11-08 14:20] jorenvh commented on #92
I dug a bit deeper and found that the plugin is trying to push the optimised images back to Azure, however it receives an error response.

Error code 409 (conflict) with message The blob type is invalid for this operation

[2019-11-08 14:23] jeffpaul commented on #92
@nosilver4u from the notes in the EWWWIO docs, it sounds like you state that it [supports Azure storage](https://docs.ewww.io/article/30-using-ewww-io-with-a-cdn).  Can you confirm if that's up to a certain version of the Windows Azure Storage plugin so we can help @jorenvh continue to troubleshoot his issue with EWWWIO and Azure not working together?

[2019-11-08 14:25] jeffpaul commented on #92
@jorenvh looks like we were both commenting at the same time there, sorry that my prior one looks out-of-context to your second comment.  Are you able to confirm whether you can upload an image with just this plugin to see if it's a compatibility issue with EWWWIO or not?

[2019-11-08 14:33] nosilver4u commented on #92
@jeffpaul EWWW IO should indeed work with the Azure storage plugin, but I've not tested that very recently.
Once an image has been optimized, we simply run wp_update_attachment_metadata() to let other plugins, like this one, take whatever action necessary. The main compatibility layer for EWWW IO is in being able to fetch images from Azure if they've been deleted from disk. We don't do anything sp

[2019-11-08 14:35] jorenvh commented on #92
@jeffpaul thanks for getting back to me. Regular uploads are working as expected, it's the bulk optimise feature of EWWW that is giving issues. This feature allows to re optimise all existing images in the media library.

I added log statements through the code in the Azure storage plugin and I can see it being triggered when EWWW Bulk optimise is running so thats good. The response return from th

[2019-11-08 14:36] nosilver4u commented on #92
On a side note, WP core has changed the way new uploads are handled in regards to wp_update_attachment_metadata(), you may want to make sure your plugin is compatible with that before Nov 12: https://make.wordpress.org/core/2019/11/05/use-of-the-wp_update_attachment_metadata-filter-as-upload-is-complete-hook/
That's from the rc4 notes: https://wordpress.org/news/2019/11/wordpress-5-3-rc4/

[2019-11-08 14:38] jeffpaul commented on #92
@nosilver4u thanks for confirming those details, much appreciated!

@jorenvh are you able to update a single image on Azure, or do you get that invalid blob type error in a non-bulk image optimization as well?

[2019-11-08 14:50] jorenvh commented on #92
@jeffpaul I'm not seeing the error when an image is uploaded, which I find a bit strange as the process is the same. The original image is pushed to Azure & later when EWWW is ready the optimised image is pushed to Azure and overwrites the initial image.
I'm not sure if I can trigger re optimisation for a single image, @nosilver4u how would I do this if it's possible?

Regarding the WP 5.3 will th

[2019-11-08 15:00] nosilver4u commented on #92
You can do individual images via the list mode in the media library: https://docs.ewww.io/article/62-power-user-options-in-list-mode

The changes in 5.3 aren't necessarily breaking, it just might result in images being pushed to Azure multiple times during upload, depending on how the Azure plugin handles it currently. EWWW IO is fully compatible with WP 5.3.

[2019-11-08 15:02] jorenvh commented on #92
Ha list mode...the only place I wasn't looking 🤣 thanks 👍

@jeffpaul running some tests right now

ps. please note Monday is a public holiday in Belgium, so sorry if there is any delay in my responses during the weekend & on Monday.

[2019-11-08 15:17] jorenvh commented on #92
@jeffpaul first test conclusions when re optimising a single image:

- Invalid blob type error for older images
- Working for newer images

Will have to dig a bit deeper I guess. I don't know that much about blobs & blob storages etc, but is it possible that things changed a bit over time resulting in this error?

[2019-11-08 16:17] rickalee commented on #92
Hi team,

Can you replicate the following behavior in WordPress 5.3?

If disabled:
Settings > Microsoft Azure > Keep local files after uploading them to Azure Storage.

WordPress fails to generate sub-sizes. I believe it may be related to this functionality and/or change.
https://core.trac.wordpress.org/ticket/47872

Suggestion: We may need to schedule a cron to delete local file vs doing in uploa

[2019-11-08 18:47] jeffpaul opened #93 "Update branding to Microsoft Azure Storage"
**Is your enhancement related to a problem? Please describe.**
The naming (but not slug) for this project has been updated to "Microsoft Azure Storage for WordPress", but there are still some stray comments and non-code items in this repo that still reference "Windows Azure" instead of "[Microsoft Azure](https://azure.microsoft.com/en-us/services/storage/)".

**Describe the solution you'd like**
-

[2019-11-08 21:24] jeffpaul commented on #66
@zosia1990 I'm closing this issue due to inactivity, but please let me know if you're still having problems so we can try to help... thanks!

[2019-11-08 21:24] #66 closed

[2019-11-08 21:26] jeffpaul commented on #72
@Keomoniroath any response to Oscar's update above?

[2019-11-08 21:26] jeffpaul commented on #76
@zosia1990 I'm closing this issue due to inactivity, but please let me know if you're still having problems so we can try to help... thanks!

[2019-11-08 21:26] #76 closed

[2019-11-08 21:36] jeffpaul commented on #17
@ShadowXVII doing some spelunking on commits, it looks like this did get committed back in January 2018 (see #51).  We're working to tidy things up and get an updated release out, so you should see that in an official release in a bit.

[2019-11-08 21:39] jeffpaul opened #96 "Repo documentation updates"
**Is your enhancement related to a problem? Please describe.**
It's not obvious the level of support provided for this repo, so let's add some clarification.

**Describe the solution you'd like**
- [x] add support level section and badge
- [x] add release version badge
- [x] add WP tested up to badge
- [ ] add license badge
- [ ] move changelog to its own file

**Designs**
n/a

**Describe alternat

[2019-11-08 21:50] jeffpaul commented on #96
As I got into adding these into `develop` I realized it all seemed similar and noticed that `master` already has these changes from me in the past.  So closing this out in favor of changes eventually being reflected back into `develop`.

[2019-11-08 21:50] #96 closed

[2019-11-08 22:52] rickalee commented on #92
## Current:
### WordPress 5.3 & Azure Blob Storage wp_update_attachment_metadata
 - Doesn't generate image sub-sizes

With Keep Images Local
 - 504 error on upload but when you navigate to Media Library image successfully uploaded with sub-sizes

With EWWW and Keep Images Local
 - Optimizes Image and uploads optimized on Azure Blob Storage

With Classifai
 - With Keep Image Local - Image tags are

[2019-11-09 01:02] jeffpaul commented on #67
Note that progress was made today towards getting the branches/etc. in proper order and towards getting a new release that includes all updates to date plus a fix for #92.

[2019-11-11 19:21] rickalee commented on #92
@jorenvh Could you verify the BlobType and LeaseState of those images that are returning InvalidBlobType (409 error) via Azure Storage Explorer? AppendBlob is default BlobType for purpose of this plugin and you could be running into permissions issues if LeaseState isn't 'Available' in older Blobs.

Azure Storage Explorer:
 https://azure.microsoft.com/en-us/features/storage-explorer/

[2019-11-12 08:50] jorenvh commented on #92
@rickalee sure

![Screenshot 2019-11-12 at 09 43 33](https://user-images.githubusercontent.com/8791625/68655834-08f48380-0531-11ea-8909-eb99124da996.png)

A newer image looks like this
![Screenshot 2019-11-12 at 09 46 44](https://user-images.githubusercontent.com/8791625/68656035-5bce3b00-0531-11ea-8c40-cfd08f5406fc.png)

A few notes to make:
- The older images are from the period before we even u

[2019-11-13 02:35] jeffpaul commented on #92
@nosilver4u note that we're working on a release for this Microsoft Azure Storage plugin to be compatible with the changes in WordPress 5.3, this will likely entail a parallel update to EWWWIO so that both plugins and core function properly together.  We'll keep you posted as we prepare our release so that we can see how the compatibility across these areas work and what tweaks may be needed.

[2019-11-13 02:50] jeffpaul opened #103 "Release version 4.3.0"
This issue is for tracking changes for the 4.3.0 release.  Target release date: **TBD**

### Pre-release steps
- [x] add CONTRIBUTING.md file including release instructions via #104
- [x] add CREDITS.md file with previous contributors, listing current maintainers
- [x] resolve issues in #102, then merge to `master`
- [x] ensure #99 is updated to include all changes in `master`, then merge
- [x] re

[2019-11-13 03:24] nosilver4u commented on #92
@jeffpaul sounds good, let me know if you need anything on our end with EWWW IO.

[2019-11-14 19:58] jeffpaul commented on #83
Now resolved by #102.

[2019-11-14 19:58] #83 closed

[2019-11-14 22:27] #89 closed

[2019-11-19 05:16] jeffpaul commented on #103
Released, see: https://github.com/10up/windows-azure-storage/releases/tag/4.3.0

[2019-11-19 05:16] #103 closed

[2019-11-19 05:31] jeffpaul commented on #67
Note that v4.3 has been released, so I'll close this issue as resolved: https://github.com/10up/windows-azure-storage/releases/tag/4.3.0

[2019-11-19 05:31] #67 closed

[2019-11-19 05:32] jeffpaul commented on #88
@TheLastCicada @radeno note that v4.3 has been released, mind testing to confirm that this issue is resolved?

[2019-11-19 05:33] jeffpaul commented on #17
@ShadowXVII note that v4.3 has been released, mind testing to confirm that this issue is resolved?

[2019-11-19 08:48] radeno commented on #88
Everything works in the same way after creating constants and removing settings from database. GJ 👍

[2019-11-19 16:48] jeffpaul commented on #88
Thanks for the confirmation @radeno, I'm going to close this as resolved but happy to re-open if folks find any issues with the implementation that shipped in v4.3.

[2019-11-19 16:48] #88 closed

[2019-11-24 12:22] nanasess opened #107 "Upload problem on Windows Server"
**Describe the bug**

Upload problem on Windows Server.
The following upload url is registered.
`https://containername.blob.core.windows.net/images/D:\home\site\wwwroot/wp-content/uploads/2019/11/image.png`

should be:
`https://containername.blob.core.windows.net/images/2019/11/image.png`

**Steps to Reproduce**

1. Install WordPress on Windows Server.
2. Install this plugin.
3. Upload image to Me

[2019-11-24 19:21] dlx-GH commented on #107
Same here.. My existing/fresh installs on Azure App Service.. uploads fail with the above  behavior, except that backslashes are stripped, as such:

https://containername.blob.core.windows.net/images/D:homesitewwwroot/wp-content/uploads/2019/11/image.png

[2019-11-26 17:34] jeffpaul commented on #107
@nanasess welcome to Microsoft Azure Storage, thanks for the detailed issue, and thanks for the related PR!  @dlx-GH thanks for the confirmation of the issue on your end as well.  We'll get PR #108 through review, work with you to resolve any issues we see there, and then look to get that into the next release... thanks!

[2019-11-28 16:20] Keomoniroath commented on #72
Hi @oscarssanchez,

Sorry for my late reply, finally we will remove this feature from our website.
Thanks a lot for your time, will be back with more details if we decide to implement it again.

[2019-12-02 21:49] #72 closed

[2019-12-18 09:20] jorenvh commented on #92
Hi @jeffpaul I was wondering if you have an ETA for the 4.4.0 release

[2019-12-18 16:47] jeffpaul commented on #92
@jorenvh we're working through a couple separate fixes for other issues and I don't expect to get a release for those until the new year, which puts the fix for this a bit behind that.  So with a little luck, maybe Q1 for a fix on this?  Though if you're able to work on a PR based on @rickalee's proposed fix above, then we could get that through review and into the next pending minor release (with

[2020-01-03 21:42] jcphlux opened #112 "Solution for migrating existing media files"
I was in need of a way to migrate a very large media library (more than 40k media files) to blob storage.
I love your plugin but it was lacking a way to handle existing media content. So I have created a wordpress plugin as a companion plugin to this one. It allows existing sites to migrate there existing media files to the blob storage using this plugins functions.

I have not published the plugi

[2020-01-06 23:07] dlx-GH commented on #112
I gotta like this.. much needed feature!!

[2020-01-07 00:34] jcphlux commented on #112
Thanks!

I was thinking this the first time I used it but only had a few files I needed to process so I did it manually with filezilla pro to move the files to Blob storage and HeidiSQL to add the media data.  It was not till I had the impossible task of importing 40k in media files that it was easier to build the plugin them do it manually.

[2020-01-07 10:51] lenardg opened #113 "Strange path is appended to Azure storage path, and upload failes as a result"
I updated to 4.3.0 version of the plugin and to WordPress 5.3.2.
Now whenever I upload a picture, the upload completes, but the image never ends up in Blob storage.

Upon closer inspection, WordPress thinks the file path is something like this:

`https://bloburl/container/D:homesitewwwroot/wp-content/uploads/2020/01/filename.png`

Instead of the usual

`https://bloburl/container/2020/01/filename.p

[2020-01-08 19:00] karlromanowski commented on #113
You're likely running in Windows so you'll need to wait for https://github.com/10up/windows-azure-storage/pull/111 to be merged and released.

[2020-01-08 19:02] lenardg commented on #113
I actually patched my 4.3.0 version with the changes in #108 and now I have it working.

[2020-01-08 19:02] #113 closed

[2020-01-17 02:29] jeffpaul commented on #112
@jcphlux thanks for thinking of sharing your work, I'll review this with the team and get back to you!

[2020-01-21 17:20] MWaser opened #114 "Uploaded files have a bad Blob type, a bad Content Type and don't upload fully"
**Describe your question**
When creating a post with images, the images do not upload fully.

Looking at them in the Microsoft Azure Storage Explorer, I note three oddities differing from what I see if I use the Storage Explorer to upload those same images.

1.  The Blob Type is Append Blob rather than Block Blob.
2.  The Content Type is text/plain rather than image/jpeg
3.  The file size is 0 rat

[2020-01-22 15:25] jeffpaul commented on #114
@MWaser what version of WordPress and PHP are you using?  Also, what OS and browser and versions are you using?  This will help us attempt to replicate your issue and better triage it to find a potential solution.

[2020-01-22 16:15] MWaser commented on #114
So . . . .

I noticed on one of the forums (SORRY, I can’t find it again), that the current version didn’t work but that a previous version did.

I dropped back to 4.1.1 and it is working perfectly (note: the blob type is still Append Blob but it seems to be working fine so I guess it’s not a bad Blob type contrary to my initial belief).

I am using WordPress 5.3.2 (the newest version) and PHP 7.2

[2020-01-23 09:20] lonevvolf opened #115 "Doesn't work"
**Describe the bug**
Uploading files seems to succeed, but they are not present in the Azure Storage account

**Steps to Reproduce**
1. Upload a file through the Media Library
2. Look in the storage account for the file

**Expected behavior**
File should be present in Azure Storage

**Environment information**
WP running as Azure Web App

**Additional context**
I have tried all different methods o

[2020-01-24 16:47] jeffpaul commented on #115
@lonevvolf thanks for the feedback, I’ve milestoned this for our next major release. In the meantime can you confirm the WP and plugin version you’re using plus your OS and browser to help us triage?

[2020-01-27 11:51] lonevvolf commented on #115
WP: Version 5.3.2
Plugin: Version 4.3.0
OS: Windows 10 Pro (latest updates)
Browser: Chrome Version 79.0.3945.130

[2020-02-12 03:50] jeffpaul opened #116 "Release version 4.3.1"
This issue is for tracking changes for the 4.3.1 release.  Target release date: **Wednesday, February 12th, 2020**

### [Release steps](https://github.com/10up/windows-azure-storage/blob/develop/CONTRIBUTING.md#release-instructions)

- [x] Branch: Starting from `develop`, cut a release branch named `release/4.3.1` for your changes.
- [x] Version bump: Bump the version number in `composer.json`, `j

[2020-02-12 04:42] jeffpaul commented on #116
Ok @rickalee I think I'm good for you to review my updates to #110 and then pick up the remaining release steps noted in this issue (happy to help cover those steps if you're 👍 on #110).

[2020-02-12 20:54] #116 closed

[2020-03-03 19:22] eflorea opened #117 "Image sizes not being generated/uploaded in Set Featured Image/Add Media modal"
**Describe the bug**

Adding Featured Image or inline images (Add Media) on posts that are not created in the current month the image sizes are not being generate therefor not uploaded to Azure either. This is because when uploading an image to a post, the year/month folder used to be uploaded to is the post created/published date and not the current date.

**Steps to Reproduce**

1. Create/edit a

[2020-03-10 14:33] ltarantolams opened #119 "Compatibility with images optimization plugins"
Using Wordpress 5.3.2 and Microsoft Azure Storage for WordPress 4.3.1

Trying to optimize our pictures in order to use webp images with plugins like ShortPixel, WebP express, or Imagify.

But those plugins only offer the possibility to update the images from the local FTP folders under www/ while our pictures are stored under Microsoft Azure Storage using this plugin.

Is there a possibility to ha

[2020-03-20 16:14] mmcachran commented on #117
Local testing for this looks good. On the current develop branch the image sizes are not being generated properly, but testing on single site, multisite root, and multisite subsite looks good.

[2020-03-23 14:46] ltarantolams commented on #119
Hi team,
I was wondering whether this was something that could be planned in your roadmap, or whether I should be contacting the image plugins teams as well ?
Thanks very much for your help

[2020-03-27 03:46] jeffpaul opened #120 "Update docs from User Guide files"
**Is your enhancement related to a problem? Please describe.**
I stumbled across https://github.com/10up/windows-azure-storage/blob/master/UserGuide.docx && https://github.com/10up/windows-azure-storage/blob/master/UserGuide.pdf.  These two files were current at least around version 4.2.0.  It would be good to remove the files from the repo but add their content into the docs.  Images are old and

[2020-04-22 22:41] rickalee opened #121 "Update Azure Blob API to Latest - 2020-04-08"
To support more advanced features of Azure Blob Storage we should update API to latest version.

Desired Features:
* Soft Delete/Undelete Blob
* Blob Batch (bulk uploading)

https://docs.microsoft.com/en-us/rest/api/storageservices/versioning-for-the-azure-storage-services

[2020-05-01 03:40] XVII commented on #117
Yep this fixes the same issue I was having. Thanks for getting to the bottom of it. I couldn't figure out the pattern!

[2020-05-07 02:11] jeffpaul commented on #117
Closed by #118

[2020-05-07 02:11] #117 closed, assigned to eflorea

[2020-05-12 15:21] cally423 opened #122 "Upload image path not always correct"
**Describe the bug**
Since version 4.3.1 – the path used for the upload of images is not always correct. Here's what's happening: if one "adds media" within a post, the path will use the original post creation date and put the image in the year/month folder accordingly. It should put it in the year/month folder according to the date the image was uploaded. This also leaves a gray box in the media

[2020-05-13 03:40] mingyeungs commented on #122
Also having this issue (using Wordpress 5.4.1 and Microsoft Azure Storage for WordPress 4.3.1)

[2020-05-14 02:14] jeffpaul commented on #122
@cally423 welcome to Microsoft Azure Storage and thanks for the issue details.  I've milestoned this for our next major release and tagged it for `help wanted` in case someone's able to help craft a PR to solve this issue.

[2020-08-19 23:35] snehaa opened #125 "Plugin adding random prefix to image and error in logs"
Hi,
Everything was working fine on my local machine installation, once I moved to hosted servers, started seeing some issues.

1. Started seeing error `Microsoft Azure Storage requires direct filesystem access in order to work.`
as references in [issue 83](https://github.com/10up/windows-azure-storage/issues/83) and no uploads were working,
Had to add following config in wp-config for the error to

[2020-08-21 07:17] zar69 commented on #122
Hello,
I confirm a suspicious behavior around this.
Is the next release planned please?
Thanks.
Best regards.

[2020-08-25 14:00] FreuxF opened #126 "Upload image issues with WordPress 5.5"
When adding a new image, I only can find the original image (original size) but the others auto generated files with different size aren't in the Azure storage slot.
They are well created by WordPress, I have checked that by using the "Keep local files".
It worked almost well in 5.4 WordPress version but now, with the 5.5, every upload has trouble.

**Example**
For example, I upload image.png in W

[2020-08-28 22:56] taylorsolomon commented on #126
We're seeing the same thing, same environment

[2020-09-01 15:28] jeffpaul commented on #122
@zar69 the next release is not yet planned.  As for this specific issue, if you're able to work on a PR for it then I'd gladly get it through review for it to be included in the next release.

[2020-09-01 15:37] rickalee commented on #125
@snehaa What settings do you have for "Use Microsoft Azure Storage for all media uploads on this site." and "Keep local files after uploading them to Azure Storage."?

Does your production environment have multiple servers/nodes, if so do they share a mounted filesystem?

[2020-09-01 15:52] jeffpaul commented on #126
@FreuxF thanks for the report and @taylorsolomon thanks for the confirmation.  I've marked this as `help wanted` and milestoned this for our next minor release.  If either of you are able to contribute a PR to resolve this, then I'd gladly get this through review for our next release... thanks!

[2020-09-01 16:33] snehaa commented on #125
These are my settings
<img width="827" alt="Screen Shot 2020-09-01 at 9 30 57 AM" src="https://user-images.githubusercontent.com/5923646/91881133-e5243a80-ec35-11ea-8d3e-9297d2e9b2b4.png">

Does your production environment have multiple servers/nodes, if so do they share a mounted filesystem?
Yes it is a multi server/node environment, we do not have a common mounted filesystem. Ideally I do not wa

[2020-09-01 20:27] rickalee commented on #125
Source image must be on local server initially for the thumbnails/crops to be generated by wp_generate_attachment_metadata before they are offloaded and files are then deleted. This can be a multi-thread process across your nodes. Without a shared filesystem, it maybe trying to offload and image which may not be on current node.

[2020-09-02 21:39] snehaa commented on #125
Hi @rickalee
Thanks for the quick response, so basically we need to have a shared filesystem between servers, and wp-uploads should be added to the shared filesystem for the upload to work properly?

[2020-09-03 00:32] rickalee commented on #125
@snehaa Correct. A mounted shared drive between servers that includes wp-content/uploads/*

[2020-09-03 07:18] zar69 commented on #125
So it's possible to mount a shared drive on an Azure app service?
Or do you use an IaaS setup?
Best regards.

[2020-09-03 15:41] rickalee commented on #125
You could do something similar to this.

https://docs.microsoft.com/en-us/azure/storage/files/storage-how-to-use-files-linux

[2020-10-03 15:11] XVII opened #127 "WordPress Microsoft Azure Site Kit"
**Is your enhancement related to a problem? Please describe.**

Was looking at options for notifying Azure Front Door of content changes (running purge) and thought it'd be a good opportunity for a plugin.

**Describe the solution you'd like**

Rather than make a new plugin, perhaps the scope of the Azure Media plugin can be expanded to an Azure Site Kit which does a few Azure related tasks.

* No

[2020-10-05 20:01] jeffpaul commented on #127
@ShadowXVII thanks for the feedback!  Do you know of other Azure-specific plugins that provide any of this functionality?

[2020-10-05 21:47] XVII commented on #127
No, just the authentication to Azure AD which isn't even registered in WordPress directory yet.

https://github.com/psignoret/aad-sso-wordpress

It's had bursts of development but a more cohesive Azure kit would be useful.

CloudFlare have a WordPress plugin that notifies their services of outdated content, which is where the Front Door idea came from.

[2020-10-06 03:06] XVII commented on #17
I missed this back in 2019! Yes, my recent uploads are working fine with v4.3.1.

Regards,
Jake

[2020-10-06 03:06] #17 closed

[2020-10-14 06:57] XVII commented on #127
Oh and another feature, CDN upload for CSS/JS assets as well (not just images). Not sure the best way to manage that -- perhaps through another plugin?

[2020-11-10 00:09] nreddipalle opened #128 "Srcset returning local media url instead of azure url"
Tested on WordPress Version: 5.5.3
Plugin Version: 4.3.1

Used this Plugin https://wordpress.org/plugins/velvet-blues-update-urls/ to update my urls..
On viewing page source, I still find SrcSet returning local media URL even when Src is showing correctly Azure Blob url fine..

`<p><img class="alignnone wp-image-1815" src="https://senseimarketingstaging.blob.core.windows.net/uploads/2018/08/Team_E

[2020-11-11 06:44] nreddipalle commented on #128
@jeffpaul ??

[2020-11-12 03:51] jeffpaul commented on #128
@nreddipalle apologies, I don't have an immediate answer for you.  We'll try and take a look into this, but in the meantime have you validated functionality with the [Velvet Blues team](https://wordpress.org/plugins/velvet-blues-update-urls/)?

[2020-11-30 19:17] jeffpaul opened #129 "Test against WordPress 5.6"
**Is your enhancement related to a problem? Please describe.**
Once WordPress 5.6 is released, we'll want to test Microsoft Azure Storage to see if any incompatibility issues arise.

**Describe the solution you'd like**
- [x] test Microsoft Azure Storage on WordPress 5.6
- [ ] open issues for any incompatibilities noted in testing
- [ ] resolve issues identified in testing
- [x] bump "tested up to

[2021-01-11 19:42] rickalee opened #130 "Feature: Replace File option in Media Library"
Add option to 'Replace file' similar to Enable Media Replace but with Azure Blob container.

https://wordpress.org/plugins/enable-media-replace/

[2021-01-13 17:18] jeffpaul commented on #130
@rickalee you want that slated for 4.3.2, 4.4.0, or Future Release?

[2021-01-22 08:01] lostfields commented on #129
I'm running PHP 8 and Wordpress 5.6 and I have a issue I haven't figured out yet. Uploading files through Media menu works fine, but not if I upload the image through the Post editing window with "Featured image". It doesn't create thumbs. I will try to find out why, but wanted to mention it since I'm running the latest wordpress now.

[2021-01-25 19:27] jeffpaul commented on #122
Closed by #131.

[2021-01-25 19:27] #122 closed, assigned to nobody

[2021-01-25 19:28] jeffpaul commented on #126
Closed by #131.

[2021-01-25 19:28] #126 closed, assigned to nobody

[2021-01-25 19:29] jeffpaul commented on #129
@lostfields are you using `develop` of this repo in case changes in the pending 4.3.2 release resolves your issue?

[2021-01-26 14:43] ShahAaron commented on #129
I'm currently running tests on WordPress 5.6 upgrade. When I attempt to upload a media item to QBank I get the following jQuery errors output in the browser console.

jQuery.Deferred exception: wp is not defined ReferenceError: wp is not defined
Uncaught ReferenceError: wp is not defined

The errors originate from:

windows-azure-storage-admin.js & windows-azure-storage-media-browser.js

[2021-01-26 15:34] rickalee commented on #129
@ShahAaron Not able to replicate 'wp is not defined' error? Are you using something other than Classic Editor plugin?

[2021-02-04 11:22] sivananthamd opened #132 "uploads not moving files to azure from website upload, its keeping in wp-content folder"
while i am uploading media from wp-admin files are storing into azure storage, but if i upload any files from website(from web user) those files are storing in side the wp-content/uploads folder(which means inside the server)

[2021-03-01 14:51] jeffpaul commented on #129
Confirming here that @davidegreenwald tested the following:

This should suffice for bumping the "tested up to" version to 5.6.  I'll handle that and then look at bundling the rest of what's in `develop` for a release.

[2021-03-03 02:37] jeffpaul opened #133 "Release version 4.3.2"
This issue is for tracking changes for the 4.3.2 release.  Target release date: **Wednesday, March 3rd, 2020**.

### [Release steps](https://github.com/10up/windows-azure-storage/blob/develop/CONTRIBUTING.md#release-instructions)

- [x] Branch: Starting from `develop`, cut a release branch named `release/4.3.2` for your changes.
- [x] Version bump: Bump the version number in `composer.json`, `js/w

[2021-03-03 19:47] #129 closed, assigned to lostfields, davidegreenwald

[2021-03-03 19:47] #133 closed, assigned to jeffpaul

[2021-03-11 04:06] jeffpaul opened #135 "Test against WordPress 5.9"
**Is your enhancement related to a problem? Please describe.**
Once WordPress 5.9 is released, we'll want to test Microsoft Azure Storage to see if any incompatibility issues arise.

**Describe the solution you'd like**
- [x] test Microsoft Azure Storage on WordPress 5.9
- [ ] open issues for any incompatibilities noted in testing
- [ ] resolve issues identified in testing
- [ ] bump "tested up to

[2021-04-10 09:22] thrijith commented on #121
@rickalee @jeffpaul

- I've updated the version string as suggested, ran some test uploads via post content and media  library and it seems to be working properly.
- Just to confirm again we want the mentioned desired features to be added along with the version update as well, or is it for a different ticket?

[2021-04-15 19:56] jeffpaul commented on #121
@thrijith based on @rickalee's original description I'd say yeah go ahead and include those additional features in the API update PR.

[2021-04-16 15:44] thrijith commented on #121
Thanks for confirming @jeffpaul, @rickalee / @jeffpaul query on the implementation for both features

Do we want to add a setting under `Setting` > `Microsoft Azure` to enable / disable and specify number of days the media is available before permanent deletion?

This setting would update [service](https://docs.microsoft.com/en-us/rest/api/storageservices/set-blob-service-properties) properties.

[2021-04-16 15:56] rickalee commented on #121
@thrijith I was expecting a performance improvement from Blob Batch but it doesn't appear to be the case from a request perspective. I think we can skip for now. I see that you updated the API Version constant, should there be more updates from upstream PHP library?

https://github.com/Azure/azure-storage-php

[2021-04-16 19:23] thrijith commented on #121
Got it.

@rickalee not sure about this, I checked composer to see if we have any dependencies was not aware if we used any, can you please point me to the files to check for? Thanks!

[2021-04-23 16:55] thrijith commented on #121
@rickalee @jeffpaul

- It seems we can't easily copy files over and make changes as we need from [Azure/azure-storage-php](https://github.com/Azure/azure-storage-php)
- I think we should move to using `composer` dependencies as we require for our operations for example https://github.com/Azure/azure-storage-php/tree/master/azure-storage-blob
- This would mean we will need to ship all dependences a

[2021-04-23 17:19] rickalee commented on #121
@thrijith Agree with your approach. Including via composer and wrapper functions will set us up for more long-term success and maintainability.

[2021-05-21 13:20] Clorith opened #140 "Original image uploads too early for WordPress to generate intermediary sizes"
When uploading media, the original image is uploaded to Azure instantly, before WordPress' scripts have had a chance to create intermediary sizes. This means the media library thumbnail, and similar, now return a 404 error, as the original image needs to be available on the filesystem while image generation is processed.

By enabling the "Keep local files after uploading them to Azure Storage." op

[2021-05-21 13:40] jeffpaul commented on #140
@Clorith howdy sir, great to see you around here! Thanks for the descriptive issue, we're working on a couple other updates for the plugin in a 4.4.0 release and I've added this to that milestone and hope to have someone from the team dig into this in a bit.  That said, if anyone else wants to work on a PR to help here we'll gladly get it reviewed as part of the 4.4.0 release... thanks!

[2021-05-25 13:34] Clorith commented on #140
Original guesswork was somewhat incorrect, as the symptoms had me confused without any deep-dive into the code, the end-cause turned out to be incorrect path generations, as resolved by #141 :)

[2021-05-25 14:25] jeffpaul commented on #140
@Clorith awesome, thanks for the deeper dive and PR... I'll work to get that through review and included in the next release!

[2021-05-29 23:57] ms2oo8 opened #142 "cURL Error: Operation timed out after 15000 milliseconds with 0 bytes received"
I have built a PHP script that attaches images to WooCommerce products using the WC REST API. It's working beautifully to attach multiple images to WC products. I discovered the Azure plugin and love it as well for offloading media.

The problem I'm facing is that when I post media to the WC REST API while the Azure plugin is activated I get an error

**cURL Error: Operation timed out after 15000

[2021-05-30 04:28] ms2oo8 commented on #142
**with Windows Azure Storage plugin activated**
the body content of the post is below and a 400 error **(18000 ms response time)**

**Body Content**
{"images":[{"src":"https://x/wp-content/plugins/woocommerce-x-import/product-images/DCBL722B-0.jpeg"},{"src":"https://x/wp-content/plugins/woocommerce-x-import/product-images/DCBL722B-1.jpeg"},{"src":"https://x/wp-content/plugins/woocommerce-x-import/

[2021-05-31 18:43] ms2oo8 commented on #142
after hours of troubleshooting, we've ruled out the possibility of this plugin causing this issue.

[2021-05-31 18:43] #142 closed, assigned to nobody

[2021-06-10 22:55] junaidbhura opened #143 "Error with WP_Filesystem() in REST API Calls"
**Describe the bug**

The plugin fails when trying to "crop" an image within the Block Editor, causing a corrupt image.

This is because the plugin calls `WP_Filesystem()`, which, although is available in `wp-admin`, is not available during REST API calls, which the Block Editor uses for functionality like image cropping.

**Steps to Reproduce**

1. Create a fresh WordPress site
2. Install the plu

[2021-10-22 15:03] glouel opened #148 "Images edited with the Media Library editor are not uploaded to Azure"
**Describe the bug**
Hey all,

First, thanks for this plugin. I found a restriction that, at this point, I'm not sure is a unimplemented feature or something that broke in recent Wordpress, so any guidance would be appreciated to see how/if I can help fixing this :

When using the built in edit feature of Wordpress's media library to edit an image, the result after it is saved is not uploaded to A

[2021-10-22 20:28] jeffpaul commented on #148
@glouel thanks for the detailed issue!  We're working on a large update (see #136) and once that's complete we'll assess if your issue is resolved in that work or needs additional handling.

[2021-10-25 13:02] glouel commented on #148
Thanks for your quick answer @jeffpaul

Just to give you a bit more details, the reason I asked if this was possibly a recent issue is that I found a couple of recent reports of the same issue on wordpress.org, see :

https://wordpress.org/support/topic/failed-to-edit-image/

and

https://wordpress.org/support/topic/edited-image-is-not-uploaded/

Regarding your large update, I did test your branch

[2021-12-01 18:37] jrmcdona opened #149 "Change Azure storage location, need to update older images to the new location"
Hi All,
I recently moved to a new clean WordPress install and when I set up the plugin I needed to use a new Azure storage location.
I backed up and restored MySQL to the new location.

However, I see images that were uploaded before migration are still tagged with the old Azure table storage and I want to change that.

These updates appear to be what is needed but it does not work:
UPDATE wp_post

[2021-12-02 19:48] rickalee commented on #149
@jrmcdona Have you updated the C NAME using MICROSOFT_AZURE_CNAME constant or setting at wp-admin/options-general.php?page=windows-azure-storage-plugin-options ?

[2021-12-14 17:26] jrmcdona commented on #149
@rickalee  yes, it works fine for new images.  Old images they came over from the migration all show the old url.  Been unable to change the old references.   Tried in the DB but it did not work.

[2021-12-14 17:29] rickalee commented on #149
@jrmcdona I would check the wp_postmeta tables as well and windows_azure_storage_info meta key. Those are stored as serialized array vs string so will need to perform more custom search/replace to change.

[2022-01-14 13:58] pablojmarti opened #150 "Images fail to load when using Basic Authorization"
When using basic authorization to secure a website any references to images will fail to load due to a 403 error. When inspecting the images themselves I can see the following error.
[code]
Since this Authorization header is being set by NGINX now I am assuming that on normal requests there is an Authorization header that is passed to Azure.

I don't know if this is something that can be fixed but

[2022-01-14 19:17] jeffpaul commented on #135
Note that I'm updating this from testing against 5.8 to 5.9.

[2022-01-25 15:04] gioamato commented on #149
@jrmcdona did you get rid of this? Same boat here. Replaced URLs and `wp_postmeta` with `windows_azure_storage_info` keys. The media gallery is broken showing `/wp-content/uploads/*` URLs.

[2022-01-25 15:43] jrmcdona commented on #149
@gioamato  I never was able to resolve it.  I updated MySQL to the new URL but it broke it.  When I reverted the MySQL change back to the old url it was working fine again.    Was a bit strange.  Seemed like the MySQL change would have worked.

[2022-01-26 08:33] radeno commented on #149
Data in `wp_postmeta` are serialized with PHP serialization. It is not JSON serialization. So you should update data in MySQL with PHP, not as simple SQL commands. Because it stores metadata about string size, array size and so on. When you change string, but not metadata, it will be broken.

[2022-01-26 13:48] gioamato commented on #149
@radeno got it, thank you. For future readers, found multiple ways to do it:

1. Using `WP-CLI`, detailed instructions [here](https://dba.stackexchange.com/questions/64675/replace-string-within-serialized-data/239923#239923).
2. Directly inside WordPress, using the [Better Search Replace plugin](https://wordpress.org/plugins/better-search-replace/).
3. Using an external tool that supports serializ

[2022-01-26 19:15] jeffpaul commented on #149
@radeno @gioamato if either of you are able to submit some details on that for the README.md file (maybe a new FAQ section), that would be fantastic, thanks!

[2022-02-23 14:20] #140 closed, assigned to Clorith

[2022-03-15 09:00] sudip-md commented on #135
@jeffpaul @ankitguptaindia I have tested this plugin against WP 5.9 and it is working as expected.

[2022-03-21 16:05] SeanFeldman opened #151 "Public access"
### Describe your question

Does storage account/container [anonymous public read access](https://docs.microsoft.com/en-us/azure/storage/blobs/anonymous-read-access-configure?tabs=portal) has to be enabled or could it be turned off?

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-03-25 18:00] jkonecki-techfabric commented on #151
I believe it has to be enabled as the requests to downlaod the files will be comming directly from browsers.

[2022-03-25 18:08] SeanFeldman commented on #151
This might be an issue for internal applications.
Is there a way to specify a SAS token URI so that anonymous public read access doesn't have to be turned on?

[2022-04-12 19:58] #135 closed, assigned to sudip-md

[2022-04-15 13:37] vikrampm1 opened #153 "Test against WordPress 6.0"
Is your enhancement related to a problem? Please describe.
Once WordPress 6.0 is released, we'll want to test Microsoft Azure Storage to see if any incompatibility issues arise.

Describe the solution you'd like

- [ ] test Microsoft Azure Storage on WordPress 6.0
- [ ] open issues for any incompatibilities noted in testing
- [ ] resolve issues identified in testing
- [ ] bump "tested up to" versi

[2022-04-20 13:03] vikrampm1 opened #154 "Setup Cypress for E2E testing"
**Is your enhancement related to a problem? Please describe.**

See overall concept in the [OSBP guide](https://10up.github.io/Open-Source-Best-Practices/testing/#e2e-testing) and example setups on [Simple Podcasting](https://github.com/10up/simple-podcasting), [Restricted Site Access](https://github.com/10up/restricted-site-access), and https://github.com/10up/ElasticPress/pull/2446.

**Describe

[2022-06-15 06:33] cadic opened #159 "Test GitHub Action for auto-issue on WordPress release"
### Is your enhancement related to a problem? Please describe.

Use skaut/wordpress-version-checker for auto-creating issue when new WordPress version is released and plugin's "tested up to" doesn't match.

### Designs

_No response_

### Describe alternatives you've considered

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-06-15 06:41] github-actions[bot] opened #161 "The plugin hasn't been tested with the latest version of WordPress"
There is a new WordPress version that the plugin hasn't been tested with. Please test it and then change the "Tested up to" field in the plugin readme.

**Tested up to:** 5.9
**Latest version:** 6.0

This issue will be closed automatically when the versions match.

[2022-06-15 14:21] #153 closed, assigned to nobody

[2022-06-15 14:22] #161 closed, assigned to nobody

[2022-06-15 14:26] cadic commented on #159
Closing this as resolved, test was successful

Closed by #160

[2022-06-15 14:26] #159 closed, assigned to cadic

[2022-06-20 09:11] jkonecki-techfabric commented on #148
I'm facing the same issue - is there a workaround available? Would downgrading to some older issue solve the problem (assuming the bug was introduced at some point) or the editor has never been supported?

This is a lovely plugin that otherwise works nicely!

[2022-06-28 18:06] gioamato commented on #149
@jeffpaul done in #163. I haven't created the new FAQ section, it would be quite empty atm.

It could be useful to collect more q&a and infos and completely restyle the `README.md` file. I would be happy to contribute and help.

[2022-06-28 19:26] #125 closed, assigned to nobody

[2022-06-28 19:27] #107 closed

[2022-06-29 17:33] dkotter opened #164 "Release version 4.3.3"
This issue is for tracking changes for the 4.3.3 release.  Target release date: **30 June 2022**.

### [Release steps](https://github.com/10up/windows-azure-storage/blob/develop/CONTRIBUTING.md#release-instructions)

- [x] Branch: Starting from `develop`, cut a release branch named `release/4.3.3` for your changes.
- [x] Version bump: Bump the version number in `js/windows-azure-storage-admin.js`,

[2022-06-30 15:32] #164 closed, assigned to dkotter

[2022-07-14 14:52] vikrampm1 opened #166 "Bump WordPress and PHP minimums"
Bump WP & PHP Minimums to the following

- [ ] WordPress to 5.7
- [ ] PHP to 7.4
- [ ] Remove any no-longer-needed conditional code for older version support.
- [ ] Take a look at adjusting our testing matrices, if applicable.
- [ ] Bump the minimums in plugin documentation and header fields.

[2022-09-12 15:02] JadoJodo commented on #92
Are there any updates on this issue? I'm still seeing it with current versions of both plugins.

[2022-09-22 16:13] jeffpaul commented on #92
@JadoJodo there's no PR crafted yet that might solve this, the team is primarily focused on #136 for now, and our core team are currently diverted well into Q4 on other projects so its unlikely a fix will be released for this until 2023 at the earliest.

[2022-10-07 15:13] bpalme commented on #128
I had a similar issue. Our situation is that we are migrating existing uploads to Azure storage manually. I'm not sure if this is the same situation as the OP. (This is with plugin version  4.3.3 and WP vsn 6.0.2.)

The issue is in the windows_azure_storage_wp_calculate_image_srcset function, it is trying to pull the azure metadata  (windows_azure_storage_info) for the post but there isn't any sin

[2022-11-07 00:13] github-actions[bot] opened #167 "The plugin hasn't been tested with the latest version of WordPress"
There is a new WordPress version that the plugin hasn't been tested with. Please test it and then change the "Tested up to" field in the plugin readme.

**Tested up to:** 6.0
**Latest version:** 6.1

This issue will be closed automatically when the versions match.

[2022-11-09 14:28] jeffpaul commented on #167
@cadic the action worked! 🎉  Mind adding to your list adding the action across our other repos?

[2022-11-16 17:07] jeffpaul commented on #167
FYI that I went ahead and added the action across our OSS repos so this could start running and trigger the WP 6.1 testing/bump issues.

[2022-11-16 21:13] superpowered opened #168 "PHP 8.1 Deprecations"
### Describe the bug

When attempting to use this plugin with PHP 8.1, it generates the following deprecation notice several times:

[code]

When `WP_DEBUG` is `true` this results in the user being unable to log in.

This deprecation notice does not appear in PHP 8.0

I believe this is related to point 2 in the PHP 8.1 [Deprecations lists](https://wiki.php.net/rfc/deprecations_php_8_1)

### Steps

[2022-11-18 18:07] #168 closed, assigned to superpowered